* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.layout-main {
    width: 1320px;
    margin: 0 auto;
}

.layout-header {
    width: 1280px;
    margin: 0 auto 80px auto;
}

.logo .logo-text {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 600;
}
.logo .logo-text2 {
    color: #F25822;
}


.menu {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
}

.menu a {
    display: inline-block;
    padding: 15px;
    color: #000;
}

.menu a:hover, a.active{
    color: #F25822;
}

.layout-content {
    width: 1289px;
    margin: 0 auto 80px auto;
}

.main-info {
    
}
.main-info h1 {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
}
.main-info p {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 30px;
}


.btn-start {
    background: #F25822;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 15px 35px 15px 35px;
    color: #fff;
    cursor:pointer;
}

.btn-start:hover {
    background: #ffffff;
    color: #F25822;
    border: 1px solid #F25822;

}

.btn-watch {
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    margin-left: 70px;
}

.btn-watch:hover {
    color: #F25822;
}

.layout-footer {
    width: 1280px;
    padding: 38px 45px 32px 34px;
}

.footer-info {
    
}
.footer-info img {
    margin-right: 45px;
}